{% extends 'base.html' %}

{% block body %}

    <header>
        <a href="{% url 'intro' %}"> <img src="https://cdn.pixabay.com/photo/2013/07/12/12/36/letter-146002_1280.png"
                                          alt="HIAC" id="logo"></a>
    </header>

    <article>
        <div class="toolbar">
            <div class="icon_group">
              <span class="material-symbols-outlined" id="find">find_in_page</span>
              <span class="material-symbols-outlined" id="undo">undo</span>
              <span class="material-symbols-outlined" id="redo">redo</span>
              <span class="material-symbols-outlined" id="delete">delete</span>
              <span class="material-symbols-outlined" id="east">east</span>
              <span class="material-symbols-outlined" id="question" onclick="location.href='https://github.com/HICC-Bootcamp/2022-import4ky-HICCAccountingProgram'">question_mark</span>
            </div>
        </div>
        <div class="mainWindow">
            <div class="leftTable">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">check</th>
                            <th scope="col">Transaction Date</th>
                            <th scope="col">Transaction Amount</th>
                            <th scope="col">Transaction Detail</th>
                            <th scope="col">Memo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in left_datalist %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox{{ forloop.counter }}">
                                </div>
                            </td>
                            <td>{{ item.0| safe }}</td>
                            <td>{{ item.1| safe }}</td>
                            <td>{{ item.2| safe }}</td>
                            <td>{{ item.3| safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="rightTable">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">check</th>
                            <th scope="col">Transaction Date</th>
                            <th scope="col">Transaction Amount</th>
                            <th scope="col">Transaction Detail</th>
                            <th scope="col">Memo</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for item in right_datalist %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox{{ forloop.counter }}">
                                </div>
                            </td>
                            <td>{{ item.0| safe }}</td>
                            <td>{{ item.1| safe }}</td>
                            <td>{{ item.2| safe }}</td>
                            <td>{{ item.3| safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="total">

            </div>
        </div>
    </article>

    <!-- Google material icon, font 적용 !-->
    <style>
        .material-symbols-outlined {
             font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

        body {
            font-family: 'GangwonEdu_OTFBoldA', sans-serif;
            width: 1204px;
            height: 1100px;
            margin: 0;
            padding: 0;
        }
    </style>

{% endblock %}