{% extends 'base.html' %}

{% block body %}

<style>

    #input-file-now {
        display: flex;
        justify-content: center;
        width: 700px;
        height: 200px;
        background-color: #ffffff;
        opacity: 1;
        background-image:  radial-gradient(#0d0f31 0.5px, transparent 0.5px), radial-gradient(#0d0f31 0.5px, #ffffff 0.5px);
        background-size: 20px 20px;
        background-position: 0 0,10px 10px;
    }

</style>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">회계 자동화 프로그램 <a href="https://github.com/HICC-Bootcamp/2022-import4ky-HICCAccountingProgram" style="font-size: 2em"> HIAC</a> 입니다.</h1>
</div>

 <div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excel" id="input-file-now" class="file-upload" />
        <button type="submit">Upload excel file</button>
      </form>

  <div class="card" style="width:700px;">
   <div class="card-body">
       <div class="row">
            <div class="col-lg-12 col-sm-12 text-lg-start text-center" style="margin-bottom:30px">
                <h4 class="card-title">excel 파일을 드래그 앤 드랍하세요.</h4>
            </div>
            <div class="col-lg-12 col-sm-12 text-lg-start text-center" style="margin-bottom:30px">
                <label for="pass">Password (6 digits minimum)</label>
                <br>
                <input type="password" id="pass" name="password" minlength="6" required disabled>
            </div>
            <div class="col-lg-12 col-sm-12 text-lg-end text-center">
                 <a href="#" class="btn btn-primary">확인</a>
            </div>
       </div>
    </div>
   </div>
  </div>
 </div>


<script>
    function buttonActive()
    {
        document.getElementById("pass").disabled = false;
    }

    {% if url %}
        buttonActive();
    {% endif %}

</script>

{% endblock %}