{% extends 'base.html' %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">회계 자동화 프로그램 <a href="https://github.com/HICC-Bootcamp/2022-import4ky-HICCAccountingProgram" style="font-size: 2em"> HIAC</a> 입니다.</h1>
</div>

<div class="d-flex justify-content-center align-items-center" style="height:100px; margin-top:300px;">
 <div class="card" style="width:800px">
  <img class="card-img-top" src="https://www.investopedia.com/thmb/xdHlVdd1lwwtvOrta9xdMsys19Y=/680x440/filters:fill(auto,1)/excel_ms-5bfc379146e0fb00511cdefe.jpg" alt="Card image">
   <div class="card-body">
       <div class="row">
            <div class="col-lg-12 col-sm-12 text-lg-start text-center" style="margin-bottom:30px">
                <h4 class="card-title">excel 파일을 드래그 앤 드랍하세요.</h4>
            </div>
            <div class="col-lg-12 col-sm-12 text-lg-start text-center" style="margin-bottom:30px">
                <input type="text" name="passwordInput" class="form-control" value="">
            </div>
            <div class="col-lg-12 col-sm-12 text-lg-end text-center">
                 <a href="#" class="btn btn-primary">확인</a>
            </div>
       </div>
  </div>
 </div>
</div>

{% endblock %}