{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}
{% load static %}
    <header>
        <div class="show_data_header_window">
            <a href="{% url 'HIAC:intro' %}"> <img src= "{% static 'img/logo.png'%}" alt="HIAC" id="show_logo"></a>
            <h2 id="show_data_header">{{ user.username }}님의 데이터 보기</h2>
            <a href="{% url 'HIAC:logout' %}" id="show_data_logout_btn_a_tag">logout</a>
        </div>
    </header>

    <article>
        <div class="show_toolbar">
            <a href="{% url 'HIAC:account_setting' %}" id="go_account_setting">
                <span class="material-symbols-outlined" title="뒤로 가기" id="go_account_feed">undo</span>
            </a>
            <button type="button" onclick="database_download_button_clicked()" name="db_download_data" id="db_download_btn_feed">
                    <span class="material-symbols-outlined" title="다운로드 하기" id="db_download_excel">file_download</span>
            </button>
            <button type="submit" name="db_reset" form="db_reset_form" id="db_reset_feed">
                    <span class="material-symbols-outlined" title="데이터베이스 초기화" id="db_reset">delete_forever</span>
            </button>
        </div>
        <div class="search_mainWindow">
            <div class="search_leftTable">
                <form id="show_left_table_form" method="post">
                {% csrf_token %}
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">거래 일자</th>
                                <th scope="col">거래 금액</th>
                                <th scope="col">거래 내용</th>
                                <th scope="col">메모</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in datalist %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ data.transaction_date| safe }}</td>
                                <td>{{ data.transaction_balance| safe }}</td>
                                <td>{{ data.transaction_detail| safe }}</td>
                                <td>{{ data.transaction_memo| safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="search_rightTable">
                <div class="search_data_requirement">
                    <div class="search_data_requirement_title_window">
                        <div class="search_data_requirement_title_side"></div>
                        <h3 id="search_data_requirement_title">검색 조건 설정</h3>
                        <div class="search_data_requirement_title_side"></div>
                    </div>
                    <form method="post" id="search_data_form" action="{% url 'HIAC:show_data' %}">
                        {% csrf_token %}
                        <div class="search_data_find_date">
                            <input type="checkbox" id="search_date_feed" name="search_date_feed" value=0 onchange="showDateInputManage()"/>
                            <label for="date_feed" id="search_date_label">기간</label>
                            <label for="start_day" id="search_start_day_label">시작일</label>
                            <input type="date" id="search_start_day" name="search_start_day" disabled>
                            <label for="end_day" id="search_end_day_label">종료일</label>
                            <input type="date" id="search_end_day" name="search_end_day" disabled>
                        </div>
                        <div class="search_data_find_detail">
                            <input type="checkbox" id="search_detail_feed" name="search_detail_feed" value=0 onchange="showDetailInputManage()"/>
                            <label for="detail_feed" id="search_detail_label">내용</label>
                            <input type="text" id="search_detail_input" name="search_detail_input" placeholder="내용을 입력해 주세요" disabled>
                        </div>
                        <div class="search_data_find_balance">
                            <input type="checkbox" id="search_balance_feed" name="search_balance_feed" value=0 onchange="showBalanceInputManage()"/>
                            <label for="balance_feed" id="search_balance_label">금액</label>
                            <input type="text" id="search_balance_input" name="search_balance_input" placeholder="금액을 입력해 주세요" disabled>
                        </div>
                        <div class="search_data_find_memo">
                            <input type="checkbox" id="search_memo_feed" name="search_memo_feed" value=0 onchange="showMemoInputManage()"/>
                            <label for="memo_feed" id="search_memo_label">메모</label>
                            <input type="text" id="search_memo_input" name="search_memo_input" placeholder="메모를 입력해 주세요" disabled>
                        </div>
                    </form>
                    <div class="search_button_group">
                        <div class="search_button_group_side"></div>
                        <button type="submit" class="btn btn-secondary" form="search_data_form" id="search_form_btn" name="search_form_btn">검색</button>
                        <div class="search_button_group_side"></div>
                    </div>
                </div>
                <div class="show_total">
                     <table class="table">
                          <thead class="thead-light">
                          <tr>
                              <th scope="col">총 인원</th>
                              <th scope="col">총 입금</th>
                              <th scope="col">총 지출</th>
                              <th scope="col">입금-지출 차액</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>{{ total_statistics.0 }}</td>
                                <td>{{ total_statistics.1 }}</td>
                                <td>{{ total_statistics.2 }}</td>
                                <td>{{ total_statistics.3 }}</td>
                            </tr>
                          </tbody>
                     </table>
                </div>
            </div>
        </div>
    </article>
    <footer>
        <form method="post" action="{% url 'HIAC:db_reset' %}" id="db_reset_form">
            {% csrf_token %}
        </form>
    </footer>

     <!-- download modal window !-->
    <div id="db_download_modal_feed" class="db_download_modal_overlay">
        <div class="db_download_modal_window">
            <div class="db_download_modal_title">
                <div class="db_download_modal_title_side"></div>
                <div> 다운로드 하기 </div>
                <div class="db_download_modal_title_side">
                    <span id="db_close_download_modal" class="material-symbols-outlined">close</span>
                </div>
            </div>
            <div class="db_download_window">
                <div class="db_file_name_input_window">
                    <form method="post" action="{% url 'HIAC:db_download' %}" id="db_download_form">
                      {% csrf_token %}
                      <label for="db_file_name_input" id="db_file_name_input_label">문서명 입력</label>
                      <input type="text" name="db_file_name" id="db_file_name_input" placeholder="문서명을 입력해주세요">
                    </form>
                </div>
                <div class="db_download_button_window">
                    <div class="db_download_button_window_side"></div>
                    <button type="submit" form="db_download_form" class="btn btn-secondary" id="db_download_button_feed">저장</button>
                    <div class="db_download_button_window_side"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Google material icon, font 적용 !-->
    <style>
        .material-symbols-outlined {
             font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

        body {
            font-family: 'GangwonEdu_OTFBoldA', sans-serif;
            width: 1204px;
            height: 1100px;
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        let url_database_download_button = {% url 'HIAC:database_download' %};

         function database_download_button_clicked() {
             $.ajax({
                 url: url_database_download_button,
                 type: "POST",
                 headers: {
                     'X-CSRFTOKEN': '{{ csrf_token }}'
                 },
                 data: null,
                 complete: function(response) {
                     let success = JSON.parse(response.responseText);
                     console.log(success.success_);
                 }
             });
        }
    </script>

{% else %}
    <div class="login_error">
        비정상적인 접근입니다. 로그인 후 이용하시기 바랍니다.
    </div>
{% endif %}

{% endblock %}