#logo {
    width: 50px;
    height: 50px;
    margin: 20px 20px 20px 20px;
    border: 3px solid #ccc;
}

.toolbar {
    margin-top: 10px;
    width: 1204px;
    height: 70px;
    border: 1px solid black;
    background-color: #ccc;
}

.toolbar .left_group {
    position: relative;
    float: left;
    width: 400px;
    height: 48px;
    top: 11px;
    margin: 0;
    padding: 0;
}

.toolbar .left_group #find {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .left_group #undo_btn {
    padding: 0;
    border: none;
    background-color:transparent;
}

.toolbar .left_group #undo {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .left_group #redo_btn {
    padding: 0;
    border: none;
    background-color:transparent;
}

.toolbar .left_group #redo {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .left_group #delete_btn {
    padding: 0;
    border: none;
    background-color:transparent;
}

.toolbar .left_group #delete {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .left_group #right_move_btn {
    padding: 0;
    border: none;
    background-color:transparent;
}

.toolbar .left_group #east {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .left_group #question {
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.toolbar .right_group {
    position: relative;
    float: right;
    width: 400px;
    height: 48px;
    top: 11px;
    margin-right: 10px;
}

.toolbar .right_group #download_excel {
    font-size: 48px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.mainWindow {
    width: 1204px;
    height: 1000px;
}

.leftTable {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 1000px;
    float: left;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
}

.rightTable {
    width: 600px;
    height: 900px;
    float: right;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
}

.total {
    width: 600px;
    height: 100px;
    float: right;
    border: 1px solid black;
}
